Repository lighttiger2505/wakabata: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, actionlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm biome check
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: docker run --rm -v $(pwd):/repo -w /repo rhysd/actionlint:latest -color

pre-push:
  parallel: true
  commands:
    biome-check:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm biome check
    ts-type-check:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm type-check
    golangci-lint:
      root: "backend/"
      glob: "*.{go}"
      run: golangci-lint run

fix: downgrade Node.js and upgrade Go versions in CI
  .github/workflows/lint.yml
Due: actionlint

chore: update pnpm action to version 10
  .github/workflows/lint.yml
Due: actionlint

fix: handle server run error
  backend/cmd/server/main.go
Due: none

chore: update golangci-lint config to exclude dirs
  backend/.golangci.yml
Due: none

feat: add Docker support
  backend/.dockerignore
  backend/Dockerfile
  backend/cmd/server/main.go
  backend/doc/openapi.json
  backend/docker-compose.yml
  backend/internal/infra/persistence/postgres/database.go
  backend/internal/infra/task.go
Due: none

feat: add development environment setup
  backend/.air.toml
  backend/.gitignore
  backend/Dockerfile.dev
  backend/docker-compose.dev.yml
Due: none

chore: update Makefile to use docker compose
  backend/Makefile
Due: none

refactor: restructure API routes and update OpenAPI doc
  backend/cmd/server/main.go
  backend/doc/openapi.json
Due: none

feat: add OpenAPI generation to server
  backend/Makefile
  backend/cmd/server/main.go
  backend/doc/openapi.json
Due: none

feat: add local server configuration to openapi.json
  backend/doc/openapi.json
Due: none

feat: add authentication tables to database
  backend/flyway/sql/V2025.03.10.23.07.12__add_auth_tables.sql
Due: none

feat: add password hashing and update user model
  backend/internal/app/user.go
  backend/internal/domain/model/users.gen.go
  backend/internal/infra/persistence/query/users.gen.go
  backend/pkg/util/argon2.go
Due: none

feat: add token and credential models
  backend/cmd/gen/main.go
  backend/internal/domain/model/access_tokens.gen.go
  backend/internal/domain/model/auth_providers.gen.go
  backend/internal/domain/model/email_verification_tokens.gen.go
  backend/internal/domain/model/refresh_tokens.gen.go
  backend/internal/domain/model/webauthn_credentials.gen.go
  backend/internal/infra/persistence/query/access_tokens.gen.go
  backend/internal/infra/persistence/query/auth_providers.gen.go
  backend/internal/infra/persistence/query/email_verification_tokens.gen.go
  backend/internal/infra/persistence/query/gen.go
  backend/internal/infra/persistence/query/refresh_tokens.gen.go
  backend/internal/infra/persistence/query/webauthn_credentials.gen.go
Due: none

fix: Fix bug
  backend/doc/openapi.json
  backend/internal/domain/service/user.go
Due: none

feat: add email verification token infrastructure
  backend/cmd/server/main.go
  backend/internal/app/user.go
  backend/internal/domain/service/user.go
  backend/internal/infra/email_verification_token.go
  backend/pkg/util/crypto.go
Due: none

feat(auth): add authentication and token management
  backend/cmd/server/main.go
  backend/doc/openapi.json
  backend/internal/app/auth.go
  backend/internal/domain/service/auth.go
  backend/internal/infra/access_token.go
  backend/internal/infra/refresh_token.go
  backend/internal/infra/user.go
  backend/pkg/util/argon2.go
  backend/pkg/util/token.go
Due: none

feat: add Google OAuth2 authentication
  backend/cmd/server/main.go
  backend/go.mod
  backend/internal/app/google_auth.go
  backend/internal/domain/service/google_auth.go
  backend/internal/infra/auth_provider.go
Due: none

feat: add logout functionality to auth service
  backend/internal/app/auth.go
  backend/internal/domain/service/auth.go
Due: none

test: add unit tests for argon2 hash functions
  backend/pkg/util/argon2_test.go
Due: none

feat: add login and refresh token API integration
  frontend/src/api/generated/client.ts
  frontend/src/api/generated/model/index.ts
  frontend/src/api/generated/model/loginRequest.ts
  frontend/src/api/generated/model/project.ts
  frontend/src/api/generated/model/projectToCreate.ts
  frontend/src/api/generated/model/projectToUpdate.ts
  frontend/src/api/generated/model/refreshTokenRequest.ts
  frontend/src/api/generated/model/string.ts
  frontend/src/api/generated/model/task.ts
  frontend/src/api/generated/model/taskToCreate.ts
  frontend/src/api/generated/model/taskToUpdate.ts
  frontend/src/api/generated/model/tokenPair.ts
  frontend/src/api/generated/model/user.ts
  frontend/src/api/generated/zod/api-v1/api-v1.zod.ts
Due: biome-check

feat(auth): add login functionality with Zustand
  frontend/.dockerignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/auth.ts
  frontend/src/app/components/Header.tsx
  frontend/src/app/login/page.tsx
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/hooks/useAuth.tsx
  frontend/src/lib/custom-instance.ts
  frontend/src/middleware.ts
Due: biome-check

fix: handle undefined values in forms
  frontend/src/features/project-list/components/AddProjectForm.tsx
  frontend/src/features/task-list/components/AddTodoForm.tsx
  frontend/src/features/task-list/components/EditTodoForm.tsx
Due: biome-check

fix: update jwt import alias for clarity
  backend/pkg/util/token.go
Due: none

chore: add .postgres directory to backend gitignore
  backend/.gitignore
Due: none

feat: enhance login page UI with Card component
  frontend/src/app/login/page.tsx
  frontend/src/features/auth/components/LoginForm.tsx
Due: biome-check

fix: update auth paths to include signup and root path
  frontend/src/middleware.ts
Due: biome-check

feat: implement user signup page and form
  frontend/src/app/signup/page.tsx
  frontend/src/features/auth/components/SignupForm.tsx
Due: biome-check

docs: add clinerules file with project overview
  frontend/.clinerules
Due: none

docs: add project guide for Claude Code
  CLAUDE.md
Due: none

chore: migrate to mise and update go dependencies
  .tool-versions
  backend/.tool-versions
  backend/go.mod
  backend/go.sum
  backend/mise.toml
  frontend/mise.toml
Due: none

feat(backend): enhance mise tasks for development workflow
  backend/mise.toml
Due: none

feat(config): implement centralized configuration system
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
Due: none

docs: improve project documentation with clearer directory context
  CLAUDE.md
Due: none

feat(config): add configuration management system
  backend/internal/config/config.go
Due: none

feat(serena): add permission settings for Claude integration
  .claude/settings.local.json
Due: none

fix(backend): update server configuration to use correct Port variable
  backend/cmd/server/main.go
Due: none

chore: add .serena directory to gitignore for Claude integration
  .gitignore
Due: none

feat(claude): add post-tool hooks for Go code formatting
  frontend/.claude/settings.json
Due: none

chore(claude): add backend/.claude/settings.local.json to gitignore
  .gitignore
Due: none

chore(backend): add main and server to gitignore ;wqa
  backend/.gitignore
Due: none
